<div class="footer">
    <footer>
      <div class="footer-links">
        <div class="footer-link">
        <%=link_to root_path do%>
        <%= image_tag 'MKdark', alt:'logo image' %>
        <% end %>
        </div>
      </div>
      <div class="footer-tagline">
        <p>Made with <i class="fas fa-heart heart-logo"></i> &copy; Martyna Krawczyk 2019</p>
      </div>
    </footer>