<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <title>MK-Blog</title>
</head>

<body>
  <div class="container-blog">
  <%=render "shared/nav_bar.html.erb"%>
    <div class="hero-container">
    </div>
  </div>
  </div>
  <%=render "shared/socials_block.html.erb"%>
  <h1>Blog</h1>
  <div class="blog-items">
    <div class="blog-card" id="blog1">
      <article>
        <div class="meta">
          <ul class="details">
            <li class="author"><a href="#">Martyna Krawczyk</a></li>
            <li class="date">Aug. 2, 2019</li>
            <li class="tags">
              <ul>
                <li><a href="#">Zapier</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>Increasing Operational Efficiency Through Automation</h1>
          <p id="copy"> In business, we have a set amount of time each day to achieve the outcomes we want, and so we
            have to use the tools that will not only allow us to get more done but to make sure we’re using our time
            effectively. Fortunately, there are many apps available that can help us do just that. They’re called work
            workflow automation apps.</p>
          <p class="read-more">
            <a
              href="https://www.linkedin.com/pulse/increasing-operational-efficiency-through-automation-martyna-krawczyk/">Read
              More>></a>
          </p>
        </div>
      </article>
    </div>
    <div class="blog-card alt" id="blog2">
      <article>
        <div class="meta">
          <ul class="details">
            <li class="author"><a href="#">Martyna Krawczyk</a></li>
            <li class="date">July. 15, 2019</li>
            <li class="tags">
              <ul>
                <li><a href="#">Learn</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">JavaScript</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>Why Automate Business Processes?</h1>
          <p id="copy">Productivity and efficiency are two of the key goals of any business. They can be the difference
            between a successful business and one that’s struggling.
            There’s no excuse in today’s business environment to waste time, money and resources repeating the same
            tasks over and over again. Workflow automation improves everyday business processes by creating streamlined,
            reliable, consistent workflows that help your team optimise efficiencies, and transforms your workplace into
            a thriving, productive environment.</p>
          <p class="read-more">
            <a
              href="https://www.linkedin.com/pulse/increasing-operational-efficiency-through-automation-martyna-krawczyk/">Read
              More>></a>
          </p>
        </div>
      </article>
    </div>
    <div class="blog-card" id="blog3">
      <article>
        <div class="meta">
          <ul class="details">
            <li class="author"><a href="#">Martyna Krawczyk</a></li>
            <li class="date">Aug. 2, 2019</li>
            <li class="tags">
              <ul>
                <li><a href="#">Zapier</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>What is Workflow Automation?</h1>
          <p id="copy"> In business, we have a set amount of time each day to achieve the outcomes we want, and so we
            have to use the tools that will not only allow us to get more done but to make sure we’re using our time
            effectively. Fortunately, there are many apps available that can help us do just that. They’re called work
            workflow automation apps.</p>
          <p class="read-more">
            <a
              href="https://www.linkedin.com/pulse/increasing-operational-efficiency-through-automation-martyna-krawczyk/">Read
              More>></a>
          </p>
        </div>
      </article>
    </div>
    <div class="blog-card alt" id="blog4">
      <article>
        <div class="meta">
          <ul class="details">
            <li class="author"><a href="#">Martyna Krawczyk</a></li>
            <li class="date">Aug. 2, 2019</li>
            <li class="tags">
              <ul>
                <li><a href="#">Zapier</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>What is it?</h1>
          <p id="copy"> Automation of workflows is next level. Put simply; it’s the creation of standard operating
            procedures using automation. Workflow automation involves the streamlining of processes and removal of
            repetitive manual tasks. It’s best achieved using purpose-built software designed to convert the steps in a
            recurring business workflow or process into a series of automated actions.</p>
          <p class="read-more">
            <a
              href="https://www.linkedin.com/pulse/increasing-operational-efficiency-through-automation-martyna-krawczyk/">Read
              More>></a>
          </p>
        </div>
      </article>
    </div>
    <div class="blog-card" id="blog5">
      <article>
        <div class="meta">
          <ul class="details">
            <li class="author"><a href="#">Martyna Krawczyk</a></li>
            <li class="date">Aug. 2, 2019</li>
            <li class="tags">
              <ul>
                <li><a href="#">Zapier</a></li>
                <li><a href="#">Code</a></li>
                <li><a href="#">HTML</a></li>
                <li><a href="#">CSS</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="description">
          <h1>What are the benefits?</h1>
          <p id="copy"> Workflow automation helps reduce and, in some cases, eliminate the time spent on repetitive
            tasks meaning jobs are completed faster, leaving you and your team more time on what’s important.</p>
          <p class="read-more">
            <a
              href="https://www.linkedin.com/pulse/increasing-operational-efficiency-through-automation-martyna-krawczyk/">Read
              More>></a>
          </p>
        </div>
      </article>
    </div>
  </div>
  <div class="info">
    <p></p>
  </div>
  <div class="container2">
  </div>
  </div>
</body>

</html>